/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header Styles */
header {
    background-color: #1a1a1a;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 50px;
}

.logo h1 {
    color: #f6eb71;
    font-size: 2.0em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00aaff;
}

.btn-cta {
    background-color: #00aaff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-cta:hover {
    background-color: #f0d33e;
}

/* Hero Section Styles */
.hero {
    background: url('assets/hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040404;
    text-align: center;
    margin-top: 80px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Button Styles */
.btn-primary {
    background-color: #ff5722;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #e64a19;
}

/* Product Listing Styles */
.product-listing {
    padding: 100px 0;
    margin-top: 80px;
}

.product-listing h2 {
    font-size: 2em;
    margin-bottom: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-item h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #ff5722;
}

.product-item p {
    font-size: 1em;
    margin-bottom: 20px;
}

.Products-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    /* เพิ่มถ้าต้องการให้มีสินค้า 4 ชิ้นในหนึ่งแถว */
    flex-basis: 100%;
    justify-content: space-around;
}


/* Footer Styles */
footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
